<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Результати пошуку</title>
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <form id="search-form" th:action="@{/search}" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" name="keyword" id="searchText"
                           placeholder="Пошук">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Знайти</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="pt-2 "></div>
    <p>кеш сторінки з id: <span th:text="${id}"></span></p>
    <div class="border "></div>
    <div class="pt-2 "></div>
    <div class="row">
        <div th:utext="${content}"></div>
    </div>
</div>
</body>
</html>
